html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* 防止全局滚动 */
    background-color: gainsboro;
    user-select: none;
}

.main {
    display: flex !important;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.serverList {
    width: calc(99% - 10px);
    margin-block: 4px 10px;
    max-height: calc(100% - 10px - 10px - 4px);
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(162 168 255);
    border-radius: 5px;
    padding: 5px;
}

/*定义了滚动条整体样式；*/
.serverList::-webkit-scrollbar {
    /*height: 28px !important;*/
    width: 8px !important;
}

/* 定义了滚动条滑块的样式 */
.serverList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-style: dashed;
    background-color: rgba(12, 80, 235, 0.4);
    border-color: #e2242400;
    border-width: 1.5px;
    background-clip: padding-box;
}

.server-item {
    border: 3px solid rgb(0, 0, 139, 0.75);
    border-radius: 5px;
    margin-bottom: 4px;
    display: flex;
    min-height: 64px;
    max-height: 250px;
    color: white;
    background-image: url("./assets/img/light_dirt_background.png");
    background-repeat: repeat;
    background-size: auto;
    padding: 6px;
}

.selected {
    background-color: rgb(255 255 255 / 50%);
    background-image: url("./assets/img/dark_oak_log.png");
}

.server-item-icon {
    position: relative;
    /* 启用绝对定位的子元素 */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.server-item-icon:hover .btn2 {
    display: block;
}

.btn2 {
    background-color: rgba(0, 0, 0, 0);
    /*border: rgba(0, 0, 0, 1) solid 1px;
    border-radius: 5px;*/
    border: none;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    height: 50%;
    display: none;
}

.btn2.up {
    background-image: url("./assets/img/btn/up.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.btn2.up:hover {
    background-image: url("./assets/img/btn/up_hover.png");
}

.btn2.down {
    background-image: url("./assets/img/btn/down.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.btn2.down:hover {
    background-image: url("./assets/img/btn/down_hover.png");
}

.server-item-actions {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 40px;
    height: 100%;
}

.server-item-icon img {
    height: 64px;
}

.server-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px;
    font-size: 12px;
    word-break: break-all;
    width: 0;
}

.server-item-name {
    background-image: -webkit-linear-gradient(left, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 8.33%, rgb(0, 255, 0) 16.67%, rgb(0, 255, 255) 25%, rgb(0, 0, 255) 33.33%, rgb(255, 0, 255) 41.67%,
            rgb(255, 0, 0) 50%, rgb(255, 0, 255) 58.33%, rgb(0, 0, 255) 66.67%, rgb(0, 255, 255) 75%, rgb(0, 255, 0) 83.33%, rgb(255, 225, 0) 91.67%, rgb(255, 0, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: maskedAnimation 12s infinite linear;

    font-weight: bolder;
    font-size: 13px;
}

@keyframes maskedAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
    }

}

.server-item-address {
    color: chartreuse;
    font-size: 10px;
}

.server-item-motd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: burlywood;
}

.server-item-signal {
    display: flex;
    column-gap: 6px;
    height: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.server-item-signal a {
    font-size: large;
    white-space: nowrap;
    place-self: end;
    font-family: monospace;
    font-weight: bolder;
}

.server-item-signal img {
    height: fit-content;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    display: flex;
    width: max-content;
    background-color: rgb(128, 128, 128);
    color: #fff;
    text-align: start;
    padding: 5px 8px;
    border-radius: 6px;
    white-space: inherit;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    /* 定位 */
    position: absolute;
    transform: translate(calc(-100% - 6px), calc(0% + 14px));
    /* transform: translate(calc(-100% - 40px - 6px), calc(-25%); */
    z-index: 998;
}

.tooltiptext p {
    margin: 0;
}

.server-item-signal:hover .tooltip .tooltiptext {
    visibility: visible;
    display: unset;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* ui */

.ui {
    width: 99%;
    max-height: calc(100% - 9px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-block: 3px 6px;
    background-color: beige;
    z-index: 997;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 1) solid 1px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    text-box: auto;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.form {
    display: flex;
    width: 100%;
    min-height: fit-content;
    max-height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form-content {
    background-color: aliceblue;
    border: black solid 1px;
    border-radius: 5px;
    width: calc(98% - 10px);
    max-width: 500px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

.form-input {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    height: inherit;
    padding: inherit;
}

.form-input input {
    background-color: rgb(162 255 190);
    border: rgba(0, 0, 0, 1) solid 1px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.form-btns {
    max-height: calc(10% + 10px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-block: 5px;
}

/* Minecraft Color Classes */
.mc-black {
    color: #000000;
}

.mc-dark-blue {
    color: #0000AA;
}

.mc-dark-green {
    color: #00AA00;
}

.mc-dark-aqua {
    color: #00AAAA;
}

.mc-dark-red {
    color: #AA0000;
}

.mc-dark-purple {
    color: #AA00AA;
}

.mc-gold {
    color: #FFAA00;
}

.mc-gray {
    color: #AAAAAA;
}

.mc-dark-gray {
    color: #555555;
}

.mc-blue {
    color: #5555FF;
}

.mc-green {
    color: #55FF55;
}

.mc-aqua {
    color: #55FFFF;
}

.mc-red {
    color: #FF5555;
}

.mc-light-purple {
    color: #FF55FF;
}

.mc-yellow {
    color: #FFFF55;
}

.mc-white {
    color: #FFFFFF;
}

/* Minecraft Format Classes */
.mc-bold {
    font-weight: bold;
}

.mc-strikethrough {
    text-decoration: line-through;
}

.mc-underline {
    text-decoration: underline;
}

.mc-italic {
    font-style: italic;
}